@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181824;
  font-family: 'Roboto', sans-serif;

  min-height: 100vh;
  position: relative;

  transition: background-color 0.3s ease-in-out;
}

body.dark {
  background-color: #ededed;
}

.banner {
  background-image: url('../images/bh.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 22rem;
  height: 18rem;
}

.banner-backdrop {
  background: linear-gradient(
    90deg,
    rgba(50, 29, 171, 0.555),
    rgba(146, 17, 135, 0.451)
  );
  height: 100%;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  padding-block: 5rem;
  width: min(35rem, 80%);

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

ul {
  list-style-type: none;
}
